<!DOCTYPE html>
<html>
  <head>
  <title>Entity Relationship</title>

  <meta charset="UTF-8">

  <script src="https://gojs.net/latest/release/go.js"></script>
  <script src="static/js/jquery.tools.min.js"></script>
  <script src="static/js/lib.js" id="code"></script>

  <link href="static/css/goSamples.css" rel="stylesheet" type="text/css" />
  <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" />

  </head>
  <body onload="init()">
    <div id="sample">
      <div id="myDiagram" style="width: 50%; height: 200px;position: fixed;margin: auto;right: 0;left: 0;bottom: 0;top:0;background-color: white; overflow: scroll;border: solid 2px black;"></div>
      <br />
      <br />
        <a href="#" onClick="loadModal()" class="btn btn-primary btn-lg">Add Table</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" onClick="loadRelationModal()" class="btn btn-primary btn-lg">Add Relation</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" onClick="loadFDModal()" class="btn btn-primary btn-lg">Add FD</a>&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="#" onClick="newDiagram()" class="btn btn-primary btn-lg">Update Normalized Diagram</a>&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="#" onClick="generateSQL()" class="btn btn-success btn-lg">Generate SQL!</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" onClick="normalizeTables()" class="btn btn-success btn-lg">Normalize</a>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="modal" id="prompt">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add/Change table</h2>
            </div>
            <div class="modal-body">
              <label>Table Name</label>
              <form id='modalform' class="form-horizontal">
                <div id='tname'></div>
                <div>
                <h6>Attribute Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DataType&nbsp;&nbsp;notNULL&nbsp;&nbsp;isUnique&nbsp;&nbsp;isPK<h6>
                </div>
                <div id='tattr'></div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" onClick="$('#modalform').submit();">OK</button>
              <button type="button" id="add_attr" class="btn btn-default" onClick="addAttribute()">Add attribute</button>
              <button type="button" class="btn btn-danger" onClick="closeModal()">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="relation_prompt">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add/Change Relations</h2>
            </div>
            <div class="modal-body">
              <div>
                <h6>To Table(Foreign Key)&nbsp;&nbsp;&nbsp;&nbsp;From Table(Primary Key)&nbsp;&nbsp;&nbsp;&nbsp;(Choose Foreign Key)<h6>
              </div>
              <form id='relation_form'>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" onClick="$('#relation_form').submit();">OK</button>
              <button type="button" class="btn btn-danger" onClick="closeRelationModal()">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="del">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Are you sure you want to delete this table?</h2>
            </div>
            <div class="modal-footer">
              <button class="btn btn-success" onClick="deleteTable();">OK</button>
              <button type="button" class="btn btn-danger" onClick="closeDeleteModal()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="modal" id="sql">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">SQL Statements</h2>
            </div>
            <div class="modal-body">
              <form id='sqlstatement'>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" onClick="closesqlModal()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="modal" id="func_dep">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Functional Dependencies</h2>
            </div>
            <div class="modal-body">
              <form id='func_dep_form'>
                <div id="functable">
                </div>
                <div id="funcA">
                </div>
                <h6>determines -></h6>
                <div id="funcB">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="add_Afunc" class="btn btn-default" onClick="addAfunc()">Add dependency</button>
              <button type="button" id="add_Bfunc" class="btn btn-default" onClick="addBfunc()">Add dependent</button>
              <button class="btn btn-success" onClick="addFD();">OK</button>
              <button type="button" class="btn btn-danger" onClick="closeFuncDepModal()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
